@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
  display: none;
}

input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
  border-radius: 30%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #5a6972;
}

input[type="radio"]:checked + *::before {
  background: radial-gradient(
    #5fe086 0%,
    #5fe086 40%,
    transparent 60%,
    transparent
  );
  border-color: #5fe086;
}

.ql-editor {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 200px;
}

.ql-toolbar {
  background-color: #99ccff;
}

.ql-editor a {
  color: #0061ff;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 20px;
  color: #99ccff;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
